<div class="todoapp">
  <h1 class="todoapp__title">todos  </h1>

  <div class="todoapp__content">
    <header class="todoapp__header">
      <button
        data-cy="ToggleAllButton"
        type="button"
        class="todoapp__toggle-all active"
      ></button>

      <form>
        <input
          data-cy="NewTodoField"
          type="text"
          ref={newTodoField}
          class="todoapp__new-todo"
          placeholder="What needs to be done?"
        />
      </form>
    </header>

    <section class="todoapp__main" >
      <div class="todo" [class]="{completed: todo.complited}" *ngFor="let todo of todos; let i = index">
        <label class="todo__status-label">
          <input
            type="checkbox"
            class="todo__status"
            [(checked)]="todo.complited"
          />
        </label>

        <form *ngIf="editing; else titleBlock">
          <input
            type="text"
            class="todo__title-field"
            placeholder="Empty todo will be deleted"
            defaultValue="JS"
          />
        </form>

        <ng-template #titleBlock>
          <span class="todo__title"> {{todo.title}} </span>
  
          <button type="button" class="todo__remove" (click)="todos.splice(i, 1)">× </button>
        </ng-template>
      </div>
     

      
    </section>

    <!-- <footer class="todoapp__footer" data-cy="Footer">
      <span class="todo-count" data-cy="todosCounter">
        4 items left
      </span>

      <nav class="filter" data-cy="Filter">
        <a
          data-cy="FilterLinkAll"
          href="#/"
          class="filter__link selected"
        >
          All
        </a>

        <a
          data-cy="FilterLinkActive"
          href="#/active"
          class="filter__link"
        >
          Active
        </a>
        <a
          data-cy="FilterLinkCompleted"
          href="#/completed"
          class="filter__link"
        >
          Completed
        </a>
      </nav>

      <button
        data-cy="ClearCompletedButton"
        type="button"
        class="todoapp__clear-completed"
      >
        Clear completed
      </button>
    </footer>  -->
  </div>
</div>
